body {
	background-color: white;
	margin: 0 5px; 
}

fieldset {
	border: none;
}


label {
  display: block;
  margin: 8px 0;
}

input {
	border: solid 1px green;
}





































