@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
	background-color: white; 
	font-family: 'Merriweather', serif;
	width: 420px;
	max-width: 100%;
    overflow-x: hidden;
	margin: 0 auto;
}

h1 {
	margin: 0;
	color: #FEF6EB;
	text-align:center;
}

h2 {
	margin: 8px 0;
	color: #c25b56;
	text-align: 
}

header h1 {
	background-color: #525564;
	padding: 20px;
	color: #FEF6EB;
}

header h2,
header p{
	text-align: center;
}

header p {
	padding: 0 10px;
	margin: 8px 0;
}

hr {
	border: solid 2px black;
	/*padding-left:15px;
	padding-right: 15px;*/
	width: 100%;
}


p,
label {
	color: #74828f;
}

fieldset {
	border: none;
	padding: 0 10px;
}

input::-webkit-input-placeholder {
    direction: rtl;
    text-align: right;
    font-style: italic;
    padding-right: 4px;
}

label {
  display: block;
}

label.light {
	display: inline;
	margin-bottom: 50px;
}

button{
	display: block;
	margin: 10px;
	width: 100%;
	height: auto;
	border-radius: 5px;
	padding: 2px;
}

textarea {
	border: none;
	height: 75px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	width: 90%;
	margin: 0 auto;
	background-color: rgb(254,246,235);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
	height: 30px;
}

input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 20px;
}

button {

}

/*@media only screen and (min-width: 760px) {

}*/

































